$primary-colour: '#8d50c9';
$primary-light: '#c07ffd';
$primary-dark: '#5b2297';

html,
body {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

/* Header */
header {
  .MuiToolbar-root {
    display: flex;
    justify-content: space-between;

    > div {
      display: flex;
      align-items: center;

      > li:hover {
        background-color: transparent;
      }
      
      .logo-icon {
        margin-right: 10px;
      }

      .logo-text {
        text-transform: uppercase;
        font-size: .85em;
        font-weight: 700;
        letter-spacing: .1em;
        line-height: 1.2;
      }
    }
  }
}

/* Menu Overlay */
.menu-overlay {
  .close-icon {
    float: right;
    height: 66px;
    width: 66px;
    margin-right: 10px;
    cursor: pointer;
    z-index: 99;
  }

  > ul > a {
    text-align: center;
    padding: 1.15em 0;

    > div > span {
      font-size: 1.15em;
    }
  }
}

/* Page Layout */
.page-view {
  .upper-text {
    margin-top: 1em;
  }

  .date-display {
    font-size: 1.75em;
    margin-bottom: 1em;
  }
}

/* Weather Widget */
.weather-icon {
  width: 100%;
  height: auto;
}

@media (min-width: 320px) {
  header {
    .MuiToolbar-root {
      > div {
        .logo-text {
          font-size: 1em;
        }
      }
    }
  }
}

@media (min-width: 900px) {
  header {
    .MuiToolbar-root {
      > div {
        .logo-text {
          font-size: 1.2em;
        }
      }
    }
  }
}
